<div class="container">

  <h1 class="text-center">{{title | titlecase}}</h1>

  <div class="text-center" style="padding: 3em 0">
    <button *ngFor="let button of buttonsText" class="btn btn-default col-xs-12 col-md-4">{{button | titlecase}}</button>
  </div>
  <br>
  <table class="table table-striped">
    <thead class="text-primary">
      <tr>
        <th>score</th>
        <th>user</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersArray" class="small">
          <th>{{user.amount}}</th>
          <th>{{user.facetName}}</th>
        </tr>
    </tbody>
  </table>
</div>
